.wrap {
    width: 1200px;
    margin: 0 auto;
}

.top_bar {
    padding: 10px 0;
    .logo {
        float: left;
        a {
            display: block;
            color: #666;
        }
    }

    img {
        display: block;
        width: 130px;
        height: 60px;
        float: left;
    }
    p {
        float: left;
        margin: 10px 0 0 20px;
        padding: 10px 0 10px 20px;
        border-left: 1px solid #ddd;
    }
    .register_bar {
        float: right;
        padding: 30px;
        a {
            color: #c00;
        }
    }
}

.main {
    margin-top: 20px;
    .zshop_error,.seller_error{
        position: absolute;
        display: block;
        width:270px;
        height: 30px;
        line-height: 30px;
        font-size:14px;
        color:red;
        text-indent: 1em;
        visibility: hidden;
        top:0px;
    }
    .login_img {
        float: left;
        a {
            display: block;
        }
        img {
            display: block;
            width: 520px;
            height: 350px;
        }
    }
    .user_enter {
        float: left;
        background: #fff;
        padding: 0 85px;
        width: 275px;
        position: relative;
        

    }
    .choose {
        h3 {
            display: block;
            color: #333;
            font: 18px/35px "Microsoft YaHei";
            font-size: 20px;
            float: left;
            width: 50%;
            cursor: pointer;
            border-bottom: 2px solid #ddd;
            text-align: center;
            padding-top: 20px;
        }
        h3:nth-of-type(1){
            border-bottom: 2px solid red;
        }
    }
    form {
        padding-top: 30px;
        position: relative;
    }
    input {
        width: 270px;
        height: 27px;
        padding: 5px 0;
        border: 1px solid #ccc;
        margin-bottom: 15px;
        text-indent: 14px;


    }
    .submit{
        background:#db2e2e;
        border:1px solid #db2e2e;
        width:272px;
        height: 40px;
        color:#fff;
        margin-top:40px;
        cursor: pointer;
    }
    .zshop{
        padding-bottom: 70px;
        /*position: absolute;*/
    }
    .seller{
         padding-bottom: 70px;
         /*position: absolute;*/
    }
}
.foot_bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    color:#ddd;
    border-top: 1px solid #ddd;

    right:0;
    left:0;
    padding-left:200px;
    padding-bottom: 20px;
    li{
        display: inline-block;
    }
    a{
        display: block;
        height: 100%;
        padding: 10px 20px 10px  0;
        color:#666;
    }
}