.m4 {
    position: relative;
    .btn_left,
    .btn_right {
        position: absolute;
        margin-top: -25px;
        top: 50%;
        width: 30px;
        height: 50px;
        z-index: 102;
        border:0;
        display: none;
        background-color: transparent;
        background:url("../../images/zol-home-icons.png") no-repeat; 
        cursor:pointer;
    }
    .btn_left {
        left: 126px;
        padding-right:30px;
        background-position:8px 8px;
    }
    .btn_right {
        right: 123px;
        padding-left:30px;
        background-position: -26px 8px;

    }

    .wraper {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
    }
    .section_tg {
        height: 38px;
        line-height: 38px;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-left: 40px;
        font-size: 18px;
        background: url("../../images/index/blocks.png") no-repeat -137px 3px;
    }
    h4 {
        font: 22px/1.5 "Microsoft YaHei";
        em {
            font-size: 12px;
            color: #666;
            padding-left: 20px;
        }
    }
    ul {
        width: 6200px;
        overflow: hidden;
        margin-left: -1200px;
    }
    .turn {
        width: 95px;
        margin: 10px auto 0 auto;
        span {
            width: 25px;
            height: 10px;
            background: #fff;
            display: inline-block;

        }
        span:nth-of-type(1){
            background: red;
        }
    }

    ul>li:nth-of-type(3n) {
        background-color: #fff6dd;
    }
    ul>li:nth-of-type(3n+1) {
        background-color: #ffe5e5;
    }
    ul>li:nth-of-type(3n+2) {
        background-color: #e3f9ff;
    }

    ul>li {
        position: relative;
        float: left;
        padding: 24px 120px 24px 10px;

        margin-right: 2px;
        overflow: hidden;
        margin-left: 3px;
        position: relative;
        /*background: url("../../images/m4/m4_1.png") no-repeat right center;*/
        background-repeat: no-repeat;
        background-position: right center;

        >img {
            display: block;
            position: absolute;
            top: 17px;
            right: 10px;
            width: 120px;
            height: 120px;
        }


        p {
            height: 50px;
            line-height: 50px;
        }
        h4 {
            width: 266px;
        }
    }
    ol {
        position: absolute;
        width: 398px;
        top: 0;
        left: -1px;
        height: 150px;
        overflow: hidden;
        background: rgba(51, 51, 51, .89);
        opacity: 0.9;
        top: 100%;
        .shaw_1 {
            margin-left: 20px;
            display: inline-block;
            float: left;
        }
        a {
            color: #fff;
        }
        img {
            height: 100%;
            width: 100%;
            vertical-align: middle;
            position: absolute;
            top: 0;
            left: 0;
        }
        div {
            position: relative;
            height: 80px;
            width: 80px;
            background: #fff;
            margin: 20px 60px 0 0;
            /*border-radius: 40px;*/
        }

        .shaw_2 {
            margin-left: 170px;
            span {
                display: block;
                height: 36px;
                line-height: 36px;
                color: #fff;
            }
            .tg {
                background: red;
                width: 80px;
                text-align: center;
                border-radius: 7px;
                a {
                    color: #fff;
                }
            }
        }
    }
}